[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
graphene = "*"
"py2neo" = "*"
flask-graphql = {editable = true,version = "*"}
maya = "*"
environs = "*"
flask-migrate = "*"
pyopenssl = "*"
pytz = {editable = true,version = "*"}
flask-jwt-extended = "*"
passlib = "*"

[dev-packages]
ipdb = "*"
"flake8" = "*"
autopep8 = {editable = true,version = "*"}
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
